<%= form_tag("/reddit", method: "post") do %>
	<%= label_tag 'username' %>
	<%= text_field_tag 'username' %><br/>
	<%= submit_tag 'Submit' %>
<% end %>

<% if !@return.nil? %>
	<h1>Success</h1>
	<% @return.each do |hash| %>
		<% hash.each do |k, v| %>
			<%= "#{k} : #{v}"%><br/>
		<% end %>
		<br/>
	<% end %>
<% end %>